body {
    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../images/BACKGROUND.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;
    font-family: "Gowun Batang", serif;
    font-weight: 400;
    font-style: normal;
    color: #fff; /* Цвет текста */
}

.navbar-brand img{
    width: 150px;
    height: 50px;
}

.custom-navbar {
    height: 75px;
    padding: 10px 20px; 
    background-color: #8908c171 !important; 
}

.autorization-block {
    border: 2px solid #14ceeb;
    padding: 5px;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    box-shadow:
        0 0 1px #14ceeb,
        0 0 1px #14ceeb,
        0 0 1px #14ceeb,
        0 0 2px #14ceeb,
        0 0 3px #14ceeb,
        0 0 4px #14ceeb;
}

.register-btn{
    width: 80px;
    height: 40px;
    background-color: #14ceeb;
    color: #fff;
}

.login-btn{
    width: 80px;
    height: 40px;
    color: #14ceeb !important;
    margin-right: 5px;
}

.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.introduction-text{
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
}

.introduction-text h1{
    color: rgb(243, 95, 240);
    font-size: 60px;
}


.introduction-text p{
    color:white;
    width: 205%;
}

.neon-text{
    color: #fff;
    text-shadow: 
        0 0 5px #fff, 
        0 0 5px #fff, 
        0 0 5px #ff00ff, 
        0 0 10px #ff00ff, 
        0 0 20px #ff00ff, 
        0 0 30px #610d61, 
        0 0 40px #723972;
}

.bottom-text {
    position: absolute;
    bottom: 0;
    top: 130%;
    transform: translateY(0%);
    width: 100px;
}

.introduction-text span{
    width: auto;
    color: #fff;
    text-shadow: 
    0 0 5px #ffffff, 
    0 0 5px #fff, 
    0 0 5px #ffffff, 
    0 0 10px #ffffff, 
    0 0 20px #ffffff, 
    0 0 30px #ffffff, 
    0 0 40px #ffffff;
}